page-intro {
    .skip1 {
        position: relative;
        top: -15rem;
        left: 15rem;
    }
    .skip2 {
        position: relative;
        top: -10rem;
        left: 15rem;
    }
    .slides_img1 img {
        width: auto;
    }
    .slides_img2 img {
        width: auto;
        height: auto;
    }
    .slides_img3 img {
        width: auto;
    }
}